[koji]
# These need to point to a directory containing Koji certs
clientca            = /etc/pki/koji/koji_ca_cert.crt
clientcert          = /etc/pki/koji/roji.pem
serverca            = /etc/pki/koji/koji_ca_cert.crt
hub                 = http://localhost/kojihub
pkgdir              = /usr/koji/packages

[locks]
# Locations and names of lock files. May be freely modified.
populate-rpmfind-db = /var/lock/rutgers-repotools/populate-rpmfind-db

[logs]
# Settings for log files, log locations, and the like.
backupCount         = 8
maxBytes            = 1000000
plainlog            = /tmp/webpush
populate-rpmfind-db = /var/log/rutgers-repotools/populate-rpmfind-db.log

[repositories]
# Distribution versions and releases. allreleases need to match alldistvers in order
alldistvers         = 5 6 7
allreleases         = ru ru6 ru7

# All of the repositories being managed; must be in order (parent child ...)
allrepos            = rutgers rutgers-testing rutgers-unstable rutgers-staging
distname            = centos
distname_nice       = CentOS
groupowner          = packagepushers

[rpmdb]
host                = localhost
name                = rpmdatabase
user                = roji
password            = password

[report]
user                = roji
from_addr           = roji@koji.rutgers.edu
to_addr             = youremail@example.com
smtp_host           = localhost
