<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="Rutgers CentOS RPM Repository" name="description" />
        <meta content="rpm.rutgers.edu, Rutgers RPM, rutgers centos, centos rpms" name="keywords" />
        <title>rpm2python</title>
        <link href="rpm2python/static/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="rpm2python/static/img/favicon.ico" />
        <script type="text/javascript" src="rpm2python/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="rpm2python/static/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="rpm2python/static/js/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="rpm2python/static/js/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="rpm2python/static/js/jquery.ui.autocomplete.min.js"></script>
        <script type="text/javascript" src="rpm2python/static/js/jquery.ui.tabs.min.js"></script>
        <link href="rpm2python/static/css/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="rpm2python/static/css/jquery.ui.core.css" rel="stylesheet" type="text/css" />
        <link href="rpm2python/static/css/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />
        <link href="rpm2python/static/css/jquery.ui.tabs.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
//<![CDATA[
        $(function(){
            $('#tabs').tabs();
        });
        //]]>
        </script>
        <script type="text/javascript">
//<![CDATA[
        function doMenu(item) {
            obj=document.getElementById(item);
            col=document.getElementById("x" + item);
            if (obj.style.display=="none") {
                obj.style.display="block";
                col.innerHTML="[-]";
            }
            else {
                obj.style.display="none";
                col.innerHTML="[+]";
            }
        }
        //]]>
        </script>
        <!-- This javascript calls some ajax which calls the autocomplete function whenever the
            text field is upated -->
        <script type="text/javascript">
            $(function() {
                //change prototype to highlight search
                //this is a hack
                $.ui.autocomplete.prototype._renderItem = function( ul, item){
                    var term = this.term.split(' ').join('|');
                    var re = new RegExp("(" + term + ")", "gi") ;
                    var t = item.label.replace(re,"<strong>$1</strong>");
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + t + "</a>" )
                        .appendTo( ul );
                };
                $.ajax({
                    url: '{{ url_for("autocomplete") }}',
                    success: function(data) {
                        $('#function_name').autocomplete({
                            source: data.comp,
                            matchContains: true,
                            minLength: 2,
                            selectFirst: false,
                            select: function( event, ui ) {
                                $('#function_name').val(ui.item.value);
                                $('#search_button').click();
                            } 
                        });
                    }
                });
                $('#searchby').change(function() {
                    if ($('#searchby').find(":selected").text() == "Name")
                        $('#function_name').autocomplete("enable");
                    else
                        $('#function_name').autocomplete("disable");
                });
            });
        </script>
    </head>
    <body>
        <div id="wrap">
        <div id="header">
            <div id="seal"></div>
            <div id="logo">
                <a href="http://www.rutgers.edu"><img alt="logo"
src="rpm2python/static/img/logo.png" /></a>
            </div>
            <div id="listmenu">
                <ul>
                    <li><a href="http://webmail.rutgers.edu/">Webmail</a></li>
                    <li><a href="http://mailman.rutgers.edu/">Mailman</a></li>
                    <li><a href="https://rams.rutgers.edu/">RAMS</a></li>
                    <li><a href="#">More...</a>
                        <ul>
                            <li><a href="https://rats.rutgers.edu/">RATS</a></li>
                            <li><a href="https://rim.rutgers.edu/">RAMS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<div id="search">
                <form method="get" action="http://search.rutgers.edu" id="gs">
                    <fieldset>
                       <input type="hidden" name="hl" value="en" />
                       <input type="hidden" name="lr" value="" />
                       <input type="hidden" name="ie" value="ISO-8859-1" />
                       <label for="q">Search:</label> <input type="text" id="q" name="q" size="10" maxlength="2048" value="" />
                       <input id="go_button" type="image" src="rpm2python/static/img/gobutton.gif" alt="Submit button" />
	                </fieldset>
                </form>
            </div>
            <div id="link_line">
                <a href="http://css.rutgers.edu/">CSS Home</a> | <a href="http://www.rutgers.edu/">Rutgers Home</a> | <a href="http://search.rutgers.edu/">Search</a>
            </div>
        </div>
        <div id='menu'>
            <div style = 'float: left; padding-left: 10px; padding-top: 5px;'>Welcome to rpm2python, provided by Open System Solutions</div>
            <div style='float: right; padding-right: 10px; padding-top: 5px;'>
                <a href='http://koji.rutgers.edu/koji/' onclick='return ! window.open(this.href);'>Koji</a>
            </div>
        </div>
        <div id='breadcrumbs'>
            <a href='http://centos.rutgers.edu/'>centos.rutgers.edu</a> &gt; <a href='{{url_for("index")}}'>rpm2python</a>
            {% for crumb in breadcrumbscontent %}
                {% if loop.last %}
                &gt; {{breadcrumbscontent[len(breadcrumbscontent) - 1]}}
                {% else %}
                &gt; <a href='{{url_for("index", letter=crumb)}}'>{{crumb}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div id="searchForm">
            <form id="function_search_form" method="post" action="">
                <fieldset>
                {{form.hidden_tag()}}
                <label for="searchby">Search by</label>
                {{form.searchby}}
                {{form.function_name}}
                <input type="image" src="rpm2python/static/img/search.png" value="search" id="search_button" />
                </fieldset>
            </form><span class="letters">
                {% for letter in xrange(ord('A'), ord('Z')+1) %}
                {% if not loop.last %}
                <a href="{{url_for('index', letter=chr(letter))}}">{{chr(letter)}}</a> | 
                {% else %}
                <a href="{{url_for('index', letter=chr(letter))}}">{{chr(letter)}}</a>
                {% endif %}
                {% endfor %}
                </span>
        </div>
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
            rpm2python-1.5.1 © 2013 - 
            <a href="http://www.rutgers.edu">Rutgers, The State University of New Jersey</a> - Contact us 
            (<a href="mailto:oss@oss.rutgers.edu">oss@oss.rutgers.edu</a>)
        </div>
    </body>
</html>
